*.cm*
*.annot
*.o
*.a

/Makefile.config
/globals/config.ml
/syncweb
/.depend
/commons/.depend
/globals/.depend
/PFFF_DB.marshall
/graph_code.marshall
/graph_code.marshall.opti
/syncweb.opt
/demos/demo
/demos/.md5sum_demo_ml
/demos/.md5sum_demo_mli
/tests/test.ml
/lpize/lpize
/backend/.depend
/frontend/.depend
/codegraph/indexize
